.main-container {
    position: relative;
}

.cb-slideshow {
    width: 100%;
    height: calc(100vh - 90px);
    left: 0px;
    z-index: 0;
}

.cb-slideshow li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 30s linear infinite 0s;
}

.cb-slideshow li div {
    z-index: 1000;
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    animation: titleAnimation 30s linear infinite 0s;
}

.cb-slideshow li div h3 {
    font-size: 80px;
    padding: 0px;
}

@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }

    8% {
        opacity: 1;
        animation-timing-function: ease-out;
    }

    17% {
        opacity: 1
    }

    25% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

@keyframes titleAnimation {
    0% {
        opacity: 0
    }

    8% {
        opacity: 1
    }

    17% {
        opacity: 1
    }

    19% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}


.no-cssanimations .cb-slideshow li span {
    opacity: 1;
}

.cb-slideshow li:nth-child(1) span {
    background-image: url(../images/portrait/1.jpg);
}

.cb-slideshow li:nth-child(2) span {
    background-image: url(../images/slider/1.jpg);
    animation-delay: 5s;
}

.cb-slideshow li:nth-child(3) span {
    background-image: url(../images/slider/2.jpg);
    animation-delay: 10s;
}

.cb-slideshow li:nth-child(4) span {
    background-image: url(../images/slider/3.jpg);
    animation-delay: 15s;
}

.cb-slideshow li:nth-child(5) span {
    background-image: url(../images/slider/4.jpg);
    animation-delay: 20s;
}

.cb-slideshow li:nth-child(6) span {
    background-image: url(../images/slider/5.jpg);
    animation-delay: 25s;
}

.cb-slideshow li:nth-child(2) div {
    animation-delay: 5s;
}

.cb-slideshow li:nth-child(3) div {
    animation-delay: 10s;
}

.cb-slideshow li:nth-child(4) div {
    animation-delay: 15s;
}

.cb-slideshow li:nth-child(5) div {
    animation-delay: 20s;
}

.cb-slideshow li:nth-child(6) div {
    animation-delay: 25s;
}



@media screen and (max-width: 768px) {
    .cb-slideshow {
        height: calc(100vh - 130px);
    }

}

@media screen and (max-width: 1140px) {
    .cb-slideshow li div h3 {
        font-size: 60px
    }
}

@media screen and (max-width: 600px) {
    .cb-slideshow li div h3 {
        display: none;
    }
}