.main__slideshow,
.cb-slideshow,
.main__button {
    display: none;
}

@media screen and (max-width: 768px) {

    .main__slideshow {
        position: relative;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .cb-slideshow {
        display: block;
        width: 100%;
        height: calc(100vh - 130px);
        left: 0px;
        z-index: 0;
    }

    .cb-slideshow li span {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        color: transparent;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: none;
        opacity: 0;
        z-index: 0;
        animation: imageAnimation 30s linear infinite 0s;
    }


    @keyframes imageAnimation {
        0% {
            opacity: 0;
            animation-timing-function: ease-in;
        }

        8% {
            opacity: 1;
            transform: scale(1.05);
            animation-timing-function: ease-out;
        }

        17% {
            opacity: 1;
            transform: scale(1.1);
        }

        25% {
            opacity: 0;
            transform: scale(1.1);
        }

        100% {
            opacity: 0
        }
    }

    .no-cssanimations .cb-slideshow li span {
        opacity: 1;
    }

    .cb-slideshow li:nth-child(1) span {
        background-image: url(../images/portrait/1.jpg);
    }

    .cb-slideshow li:nth-child(2) span {
        background-image: url(../images/slider/1.jpg);
        animation-delay: 5s;
    }

    .cb-slideshow li:nth-child(3) span {
        background-image: url(../images/slider/2.jpg);
        animation-delay: 10s;
    }

    .cb-slideshow li:nth-child(4) span {
        background-image: url(../images/slider/3.jpg);
        animation-delay: 15s;
    }

    .cb-slideshow li:nth-child(5) span {
        background-image: url(../images/slider/4.jpg);
        animation-delay: 20s;
    }

    .cb-slideshow li:nth-child(6) span {
        background-image: url(../images/slider/5.jpg);
        animation-delay: 25s;
    }

    .cb-slideshow li:nth-child(2) div {
        animation-delay: 5s;
    }

    .cb-slideshow li:nth-child(3) div {
        animation-delay: 10s;
    }

    .cb-slideshow li:nth-child(4) div {
        animation-delay: 15s;
    }

    .cb-slideshow li:nth-child(5) div {
        animation-delay: 20s;
    }

    .cb-slideshow li:nth-child(6) div {
        animation-delay: 25s;
    }

    .main__button {
        display: block;
        position: absolute;
        width: 100%;
        bottom: 10%;

        /* Отступ сверху */
        text-align: center;
    }

    .main__button a {
        padding: 5px 20px;
        font-size: 20px;
        font-weight: 700;
        /* Отступ */
        text-align: center;
        background-color: rgba(255, 255, 255, 0.2);
        /* Цвет кнопки */
        color: white;
        /* Цвет текста */
        border: 1px solid white;
        /* Ширина, стиль и цвет границы */
        z-index: 1;
        opacity: 0.8;
        transition: opacity .3s ease;
    }

    .main__button a:hover {
        background-color: var(--bg)
    }

}