  /* Переменные */
  :root {
      --text-dark: #222;
      --text-light: #fff;
      --text-accent: #297d83;
      --text-danger: #f00;
      --bg: #e7a895;
  }

  /* Общие */
  html {
      box-sizing: border-box;
  }

  *,
  *::after,
  *::before {
      box-sizing: inherit;
      font-family: 'Cinzel', serif;
  }

  body {
      margin: 0;
      font-family: sans-serif;
      background-color: #e7a895;
  }

  input,
  textarea {
      font-family: sans-serif;
  }

  img,
  svg {
      max-width: 100%;
      max-height: 100%;
      height: auto;
  }

  button {
      padding: 0;
      cursor: pointer;
      background-color: transparent;
      border: none;
  }

  a {
      text-decoration: none;
      color: inherit;
  }

  ul {
      list-style: none;
      padding: 0;
      margin: 0;
  }

  h1,
  h2,
  h3,
  p {
      margin: 0;
  }



  .visually-hidden {
      position: fixed;
      transform: scale(0);
  }

  .title {
      font-size: 32px;
      text-align: center;
      margin-bottom: 15px;
  }

  .divider {
      margin: 10px 0;
      width: 60px;
      height: 3px;
      background-color: var(--text-accent);
  }

  /* Сетка */
  .container {
    position: relative;
      margin: 0 auto;
      max-width: 1230px;
      width: 100%;
      padding: 0 15px;
  }

  .row {
      padding: 0 15px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
  }

  .col-3 {
      width: 25%;
  }

  .col-4 {
      width: 33.33%;
  }


  .col-6 {
      width: 49%;
  }

  .col-7 {
      width: 60%;
  }

  .col-9 {
      width: 70%;
  }

  .col-12 {
      width: 100%;
  }

  .logo {
      width: 136px;
      height: 50px;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);

  }

  .logo a {
      line-height: 0;
  }

  .logo:hover {
      opacity: 0.8;
      transition: all 0.5s ease;
  }

  .header {
      padding: 20px 0;
      background-color: var(--bg);
      top: 0;
      z-index: 1000;
      position: sticky;
  }

  /*   .header__active {
      background: var(--bg);
  }
 */

  /* Меню */
  .menu__desktop .row>ul a.active:hover+ul,
  .menu__desktop .row>ul ul:hover {
      opacity: 1;
      visibility: visible;
  }

  .menu ul {
      transition: 0.2s;
      opacity: 0;
      visibility: hidden;
      border: 1px solid #eee;
      position: absolute;
      top: 30px;
      width: 280px;
      padding-left: 0;
      list-style: none;
      background-color: #fff;
  }

  .menu__desktop .menu li {
      padding: 5px;
  }

  /* .menu__desktop .menu li a {
      color: var(--text-dark);
      text-decoration: none;
      margin-right: 15px;
  } */

  .menu__desktop .menu li a:hover {
      color: var(--text-accent);
  }

  .menu__desktop .menu li:last-child a {
      margin-right: 0;
  }

  .menu {

      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
  }

  .menu__mobile {
      display: none;
  }


  .contacts {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
  }

  .contacts__phone a {
      color: var(--text-accent);
      text-decoration: none;
  }

  .contacts__phone a:hover {
      color: var(--bg);
      text-decoration: underline;
  }

  .contacts__social {
      display: flex;
      align-items: center;
      gap: 7px;
  }

  .contacts__link {
      color: var(--text-accent);
  }

  .contacts__link:hover {
      color: var(--bg);
  }

  /* слайдер */
  .swiper {
      max-width: 900px;
      max-height: 600px;
  }

  .swiper-slide {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      /*       text-align: center;
      font-size: 18px;
      background: #fff;
       */
  }

  .swiper-slider {
    display: none;
  }

  /* о себе*/
  .about {
      padding-top: 30px;
  }

  .about__title {
      text-align: start;
      margin-bottom: 10px;
      font-size: 24px;
      color: var(--text-accent);
  }

  .about__subtitle {
      font-size: 30px;
  }

  .about__wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
  }

  .about__text {
      padding: 10px;
      font-size: 20px;
      line-height: 26px;
  }

  .about__img {
      max-height: 500px;
  }

  .twentytwenty {
      padding: 10px 0;
  }

  .twentytwenty__container {
      margin: 0 auto;
      height: 500px;
      max-width: 750px;
  }


  /* обратная связь  */
  .feedback {
      padding: 60px 0 30px 0;
  }

  .feedback__wrapper {

      display: block;
      margin: 0 auto;
      max-width: 600px;
  }

  .feedback__form-title {
      margin: 15px 0;
      font-size: 18px;
  }

  .feedback__form {
      display: flex;
      flex-direction: column;
      gap: 15px;
      width: 100%;
  }

  .feedback__input {
      height: 40px;
      padding: 0 10px;
  }

  .feedback__textarea {
      width: 100%;
      min-height: 80px;
      height: 100%;
      resize: none;
      padding: 10px;
      font-size: 14px;
  }

  .feedback__btn {
      margin: 0 auto;
      padding: 0 10px;
      border: 1px solid var(--text-dark);
      border-radius: 6px;
      height: 40px;
      line-height: 0;
      color: var(--text-accent);
  }

  .feedback__btn:hover {
      translate: 0.3s;
      color: var(--bg);
      opacity: 0.7;
  }

  /* Резюме*/
  /*   .resume {
      padding: 40px 0;
      font-size: 20px;
      display: flex;
      align-items: center;
      text-align: center;
      color: var(--text-dark);
  }

  .resume-cards-inner {
      align-items: stretch;
      padding: 30px 0;
  }

  .resume-cards-inner img {
      width: 100px;
      height: auto;
  }

  .resume-card {
      text-align: center;
      padding: 15px;
      margin-bottom: 30px;
  }

  .resume h2 {
      text-transform: uppercase;
  }

  .resume-cards h3 {
      text-transform: uppercase;
      color: var(--text-dark);
      font-size: 20px;
      margin: 10px 0;
  }

  .resume-cards p {
      line-height: 26px;
  } */

  /* портфолио */
  .portfolio__wrapper {
      padding: 30px 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
  }

  .portfolio__item {
      max-width: 500px;
  }

  .portfolio__link {
      display: flex;
      flex-direction: column;
      gap: 10px;
  }

  .portfolio__link img:hover {
      border: 2px solid #e7a895;
      outline: 2px dashed #f5f1f0;
      /* Ширина, вид и цвет рамки */
      outline-offset: -10px;
      /* Выводим рамку внутри элемента */
      transition: 0.2s;
  }

  .portfolio__title {
      text-align: center;
      font-size: 18px;
  }

  .portfolio__price {
      text-align: end;
  }

  /* Анимация для портфолио */

  .hover-effect-btn {
      position: relative;
      max-width: 900px;
      width: 100%;
  }

  .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      /* Настройка цвета и прозрачности для блока с заголовком */
      transition: background 0.5s ease;
  }

  .hover-effect-btn:hover .overlay {
      display: block;
      background: rgba(0, 0, 0, 0.9);
      /* Настройка цвета и прозрачности для блока с заголовком при наведении */
  }

  .portfolio__description {
      position: absolute;
      padding: 0 15px;
      width: 100%;
      left: 0;
      top: 20%;
      /* Отступ сверху */
      font-size: 1.100em;
      /* Размер текста заголовка */
      text-align: center;
      text-transform: uppercase;
      /* Заглавные буквы */
      color: white;
      /* Цвет заголовка */
      z-index: 1;
      transition: top .5s ease;
  }

  .hover-effect-btn:hover .portfolio__description {
      top: 10%;
      /* Отступ сверху при наведении */
  }

  .button {
      position: absolute;
      width: 100%;
      left: 0;
      top: 65%;
      /* Отступ сверху */
      text-align: center;
      opacity: 0;
      transition: opacity .35s ease;
  }

  .button a {
      padding: 15px 40px;
      /* Отступ */
      text-align: center;
      background: #e59191;
      /* Цвет кнопки */
      color: white;
      /* Цвет текста */
      border: 1px solid white;
      /* Ширина, стиль и цвет границы */
      z-index: 1;
  }

  .hover-effect-btn:hover .button {
      opacity: 1;
  }

  /* Список фото */
  .list {
      padding: 40px 0;
  }

  .list .gallery {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 5px;
  }

  .list .gallery a {
      /* border: 5px solid var(--text-light); */
      display: block;
      transition: 0.3s;
  }

  .list .gallery a img {
      max-height: 300px;
  }

  /* Анимация для галереи фото */

  .hover-image-scale {
      display: inline-block;
      overflow: hidden;
      /* Скрываем всё за контуром */
  }

  .hover-image-scale img {
      transition: 1s;
      /* Время эффекта */
      display: block;
  }

  .hover-image-scale img:hover {
      transform: scale(1.1);
      /* Увеличиваем масштаб */
  }

  /* Прайс */

  .price {
      padding: 40px 0;
  }

  .price__wrapper {
      display: flex;
      flex-direction: column;
      gap: 30px;
  }

  .price__item {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: start;
  }

  .price__title {
      margin: 10px 0;
  }

  .price__text {
      font-size: 16px;
  }

  .price__img {
      max-height: 300px;
  }

  .information {
      padding: 30px 0;
  }

  .footer {
      padding: 30px 0;
  }

  /* Адаптивная версия */
  @media screen and (max-width: 1200px) {
      .menu {
          padding: 0 10px;
      }

      .contacts {
          display: flex;
          flex-direction: column;
          gap: 10px;
      }
  }

  /* lg */
  @media screen and (max-width: 1044px) {
      .container {
          padding: 0 20px;
      }

      .col-lg-4 {
          width: 33.33%;
      }

      .col-lg-6 {
          width: 49%;
      }

      .col-lg-12 {
          width: 100%;
      }

      .contacts {
          margin-top: 7px;
      }
  }

  @media screen and (max-width: 920px) {
      .menu {
          flex-direction: column;
      }

      .row {
          align-items: flex-start;
      }

      .contacts {
          margin-top: 0;
      }
  }

  /* md */
  @media screen and (max-width: 768px) {
      .header {
          padding: 10px 0;
      }

      .title {
          font-size: 24px;
          text-align: center;
      }

      .menu__desktop {
          display: none;
      }

      .menu__mobile {
          display: flex;
          flex-direction: column;
      }

      .menu__inner {
          display: flex;
          justify-content: space-between;
          align-items: start;
      }

      .menu {
          display: none;
          text-align: center;
      }

      .menu li {
          padding: 2px 0;
      }

      .menu a {
          margin: 0;
          font-size: 14px;
          color: var(--text-main);
          text-decoration: none;
      }

      .menu__burger {
          display: block;
          overflow: hidden;
          cursor: pointer;
          margin: 0;
          padding: 0;
          width: 40px;
          height: 40px;
          font-size: 0;
          background-color: var(--bg);
          border-radius: 5px;
          position: relative;
      }

      .menu__burger span {
          display: block;
          position: absolute;
          background-color: #fff;
          height: 3px;
          width: 30px;
          top: 18px;
          left: 5px;
          right: 5px;
          transition: background 0s 0.3s;
      }

      .menu__burger span:after,
      .menu__burger span:before {
          position: absolute;
          display: block;
          height: 3px;
          width: 100%;
          background-color: #fff;
          content: '';
          transition-duration: 0.3s, 0.3s;
          transition-delay: 0.3s, 0s;
      }

      .menu__burger span:after {
          top: -10px;
      }

      .menu__burger span:before {
          bottom: -10px;
      }

      .menu__burger.close span {
          background: none;
      }

      .menu__burger.close span:after {
          top: 0px;
          transform: rotate(45deg);
      }

      .menu__burger.close span:before {
          bottom: 0px;
          transform: rotate(-45deg);
      }

      .menu__mobile .contacts {
          display: none;
      }

      .contacts {
          font-size: 16px;
          gap: 7px;
      }

      .contacts__phone a:hover {
          color: var(--text-accent);
          text-decoration: none;
      }

      .contacts__link:hover {
          color: var(--text-accent);
      }

      .feedback__wrapper {
          padding: 10px 0 20px 0;
      }

      .portfolio__description {
          font-size: 14px;
      }

      .swiper-slider {
        display: block;
      }
    
  }

  /* sm */
  @media screen and (max-width: 560px) {
      .container {
          padding: 0 10px;
      }

      .col-sm-12 {
          width: 100%;
      }

      .title {
          text-align: center;
      }

      .about {
          padding-top: 15px;
      }

      .about__wrapper {
          gap: 10px;
      }

      .about__title {
          font-size: 18px;
      }

      .about__text {
          font-size: 14px;
          line-height: 24px;
      }

      .about__img {
          max-height: 300px;
      }

      .twentytwenty__title {
          margin-bottom: 10px;
          font-size: 18px;
      }

      .contacts {
          display: flex;
          flex-direction: column;
          gap: 10px;
      }

      .feedback {
          padding: 30px 0 30px 0;
      }

      .feedback__form-title {
          margin: 10px 0;
          font-size: 16px;
      }

      .portfolio__text {
          display: none;
      }

  }