  /* Переменные */
  :root {
      --text-dark: #222;
      --text-light: #fff;
      --text-accent: #fff;
      --text-danger: #2600ff;
      --bg: #b9b8b8;
  }

  /* Общие */
  html {
      box-sizing: border-box;
  }

  *,
  *::after,
  *::before {
      box-sizing: inherit;
      font-family: 'Cinzel', serif;
  }

  body {
      margin: 0;
      font-family: sans-serif;
      background-color: var(--bg);
  }

  input,
  textarea {
      font-family: sans-serif;
  }

  img,
  svg {
      max-width: 100%;
      max-height: 100%;
      height: auto;
  }

  button {
      padding: 0;
      cursor: pointer;
      background-color: transparent;
      border: none;
  }

  a {
      text-decoration: none;
      color: inherit;
  }

  ul {
      list-style: none;
      padding: 0;
      margin: 0;
  }

  h1,
  h2,
  h3,
  p {
      margin: 0;
      padding: 0;
  }

  .visually-hidden {
      position: fixed;
      transform: scale(0);
  }

  .title {
      font-size: 32px;
      text-align: center;
      margin-bottom: 15px;
  }

  .divider {
      margin: 15px 0;
      width: 60px;
      height: 3px;
      background-color: var(--text-accent);
  }

  /* стили для кнопки-ссылки  */
  .button {
      position: absolute;
      width: 100%;
      text-align: center;
  }

  .button a {
      text-align: center;
      color: white;
      z-index: 1;
  }

  /* стили для прозрачной кнопки */

  .btn {
      display: inline-block;
      padding: 10px 15px;
      font-size: 20px;
      font-weight: 700;
      /* Отступ */
      background-color: rgba(255, 255, 255, 0.2);
      /* Цвет кнопки */
      color: white;
      /* Цвет текста */
      border: 1px solid white;
      /* Ширина, стиль и цвет границы */
      z-index: 1;
      opacity: 0.8;
      transition: opacity .3s ease;
  }

  .btn:hover {
      background-color: var(--bg)
  }


  /* Сетка */
  .container {
      margin: 0 auto;
      max-width: 1400px;
      width: 100%;
  }

  .row {
      padding: 0 15px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
  }


  .col-3 {
      width: 25%;
  }

  .col-4 {
      width: 33.33%;
  }


  .col-6 {
      width: 49%;
  }

  .col-7 {
      width: 60%;
  }

  .col-9 {
      width: 70%;
  }

  .col-12 {
      width: 100%;
  }

  .logo {
      height: 100px;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);

  }

  .logo a {
      line-height: 0;
  }

  .logo:hover {
      opacity: 0.3;
      transition: all 0.5s ease;
  }

  .header {
      padding: 20px 0;
      background-color: var(--bg);
      top: 0;
      z-index: 1000;
      position: sticky;
  }

  /*   .header__active {
      background: var(--bg);
  }
 */

  /* Меню */
  .menu__desktop .row>ul a.active:hover+ul,
  .menu__desktop .row>ul ul:hover {
      opacity: 1;
      visibility: visible;
  }

  .menu ul {

      transition: 0.2s;
      opacity: 0;
      visibility: hidden;
      border: 1px solid #eee;
      position: absolute;
      top: 30px;
      width: 280px;
      padding-left: 0;
      list-style: none;
      background-color: #fff;
  }

  .menu__desktop .menu li {
      padding: 5px;
  }

  /* .menu__desktop .menu li a {
      color: var(--text-dark);
      text-decoration: none;
      margin-right: 15px;
  } */

  .menu__desktop .menu li a:hover {
      color: var(--text-accent);
  }

  .menu__desktop .menu li:last-child a {
      margin-right: 0;
  }

  .menu {
      font-size: 22px;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
  }

  .menu__mobile {
      display: none;
  }


  .contacts {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
  }

  .contacts__phone a {
      color: var(--text-accent);
      text-decoration: none;
  }

  .contacts__phone a:hover {
      color: var(--text-danger);
      text-decoration: underline;
  }

  .contacts__social {
      display: flex;
      align-items: center;
      gap: 7px;
  }

  .contacts__link {
      color: var(--text-accent);
  }

  .contacts__link:hover {
      color: var(--text-danger);
  }

  /* слайдер */

  .main__slider {
      display: block;
  }

  .swiper {
      max-width: 900px;
      max-height: 600px;
  }

  .swiper-slide {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      /*       text-align: center;
      font-size: 18px;
      background: #fff;
       */
  }

  .swiper-slider {
      display: none;
  }

  /* о себе*/
  .about {
      padding-top: 30px;
  }

  .about__title {
      text-align: start;
      margin-bottom: 15px;
      font-size: 32px;
      color: var(--text-accent);
  }

  .about__subtitle {
      font-size: 30px;
  }

  .about__wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
  }

  .about__img img {
      display: block;
      margin: 0 auto;
  }

  .about__text {
      padding: 10px 15px;
      font-size: 20px;
      line-height: 26px;
  }

  .about__img {
      max-height: 500px;
  }

  .about__descr {
      font-size: 24px;
      line-height: 36px;
      font-weight: 400;
  }

  .before-after__wrapper {
      display: flex;
      flex-direction: column;
      gap: 15px;
  }

  .twentytwenty {
      padding: 10px 0;
  }

  .twentytwenty__container {
      margin: 0 auto;
      height: 500px;
      max-width: 750px;
  }

  .twentytwenty__container_vertical {
      max-width: 333px;
      height: 500px;
      margin: 0 auto;
  }


  /* обратная связь  */
  .feedback {
      padding: 60px 0 30px 0;
  }

  .feedback__wrapper {

      display: block;
      margin: 0 auto;
      max-width: 600px;
  }

  .feedback__form-title {
      margin: 15px 0;
      font-size: 18px;
  }

  .feedback__form {
      display: flex;
      flex-direction: column;
      gap: 15px;
      width: 100%;
  }

  .feedback__input {
      height: 40px;
      padding: 0 10px;
  }

  .feedback__textarea {
      width: 100%;
      min-height: 80px;
      height: 100%;
      resize: none;
      padding: 10px;
      font-size: 14px;
  }

  .feedback__btn {
      margin: 0 auto;
      padding: 0 10px;
      border: 1px solid var(--text-dark);
      border-radius: 6px;
      height: 40px;
      line-height: 0;
      color: var(--text-accent);
  }

  .feedback__btn:hover {
      translate: 0.3s;
      color: var(--text-danger);
      opacity: 0.7;
  }

  /* портфолио */
  .portfolio__wrapper {
      padding: 30px 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
  }

  /* Анимация для портфолио */

  .hover-effect-btn {
      min-height: 200px;
      position: relative;
      max-width: 900px;
      width: 100%;
  }

  .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
      /* Настройка цвета и прозрачности для блока с заголовком */
      transition: background 0.5s ease;
  }

  .hover-effect-btn:hover .overlay {
      display: block;
      background: rgba(0, 0, 0, 0.9);
      /* Настройка цвета и прозрачности для блока с заголовком при наведении */
  }

  .portfolio {
      max-height: calc(100vh - 140px);
  }

  .portfolio__description {
      position: absolute;
      padding: 0 15px;
      width: 100%;
      left: 0;
      top: 20%;
      /* Отступ сверху */
      font-size: 1.100em;
      /* Размер текста заголовка */
      text-align: center;
      text-transform: uppercase;
      /* Заглавные буквы */
      color: white;
      /* Цвет заголовка */
      z-index: 1;
      transition: top .5s ease;
  }

  .hover-effect-btn:hover .portfolio__description {
      top: 10%;
      /* Отступ сверху при наведении */
  }

  .portfolio__button {
      left: 0;
      top: 65%;
      /* Отступ сверху */
      text-align: center;
      opacity: 0;
      transition: opacity .35s ease;

  }

  .portfolio__button a {
      padding: 15px 30px;
      background-color: var(--bg);
      /* Цвет кнопки */
      color: white;
      /* Цвет текста */
      border: 1px solid white;
      /* Ширина, стиль и цвет границы */
      z-index: 1;
  }


  .hover-effect-btn:hover .button {
      opacity: 1;
  }

  /* Список фото */
  .list {
      padding: 25px 0;
  }


  .inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px;
      max-width: 800px;
      margin: 0 auto 30px auto;
  }

  .list__title {
      display: block;
      font-size: 32px;
      text-align: center;
      min-width: 700px;
  }


  /* 
  .list .gallery {

      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      grid-gap: 5px;
  }
 */

  /* .list .gallery a {
      display: block;
      transition: 0.3s;
  }

  .list .gallery a img {
      max-height: 300px;
  } */

  .grid {
      display: grid;
      grid-auto-rows: 550px;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 5px;
  }

  .grid :nth-child(7n + 1),
  .grid :nth-child(7n + 4) {
      grid-column: span 2;
  }

  /**/
  .grid {
      max-width: 1200px;
      margin: auto;
  }

  .grid * {
      display: grid;
      place-content: center;
  }

  .grid__bg {
      background-size: cover;
      background-position: 50% 50%;
      background-repeat: none;
      width: 100%;
      height: 100%;
      transition: 1s;
  }

  .grid__bg:hover {
      transform: scale(1.1);
      /* Увеличиваем масштаб */
  }

  /* Анимация для галереи фото */

  .hover-image-scale {
      display: inline-block;
      overflow: hidden;
      /* Скрываем всё за контуром */
  }

  .hover-image-scale img {
      transition: 1s;
      /* Время эффекта */
      display: block;
  }

  .hover-image-scale img:hover {
      transform: scale(1.1);
      /* Увеличиваем масштаб */
  }

  /* классы показать и скрыть для list */

  .hide {
      display: none;
  }

  .show {
      display: grid;
  }

  /* Прайс */

  .price {
      padding: 40px 15px;
  }

  .price__wrapper {

      padding: 20px;
      font-size: 24px;
      line-height: 36px;
  }

  .price__text {
      margin-top: 20px;
  }

  .price__list {
      margin-top: 20px;
  }

  .price__item {
      position: relative;
      padding-left: 35px;
  }

  .price__item::before {
      position: absolute;
      left: 5px;
      content: '\2713';
  }

  /* информация */

  .info {
      padding: 0 15px 30px 15px;
  }

  .info__wrapper {
      font-size: 24px;
      line-height: 36px;
  }

  .info__title {
      text-align: center;
      font-size: 32px;
      padding: 30px 0;
  }

  .info__block {
      padding-top: 15px;
      max-width: 600px;
      margin: 0 auto;
  }

  .info__img {
      display: block;
      margin: 0 auto;
  }

  .info__img_height {
      max-height: 500px;
  }


  .info__comment {
      font-size: 18px;
      padding: 10px 0;
      text-align: center;
  }


  .info__text {
      text-indent: 2em;
  }

  .info__row {
      display: flex;
      justify-content: center;
      gap: 20px;
      padding: 10px 0;
  }

  .info__item {
      position: relative;
      padding-left: 20px;
  }

  .info__item::before {
      content: '\25B8';
      position: absolute;
      left: 0;
      top: 3px;

  }


  /* Адаптивная версия */
  @media screen and (max-width: 1200px) {
      .menu {
          padding: 0 10px;
      }

      .contacts {
          display: flex;
          flex-direction: column;
          gap: 10px;
      }

      .grid {
          grid-auto-rows: 470px;
      }


  }

  /* lg */
  @media screen and (max-width: 1044px) {
      .col-lg-4 {
          width: 33.33%;
      }

      .col-lg-6 {
          width: 49%;
      }

      .col-lg-12 {
          width: 100%;
      }

      .contacts {
          margin-top: 7px;
      }

      .grid {
          grid-auto-rows: 400px;
      }

      .list {
          padding: 15px;
      }

      .inner {
          gap: 20px;
          margin: 0 auto 20px auto;
      }

      .btn {
          font-size: 16px;
      }
  }

  @media screen and (max-width: 920px) {

      .logo {
          height: 50px;
      }

      .menu {
          flex-direction: column;
      }

      .row {
          align-items: flex-start;
      }

      .contacts {
          margin-top: 0;
      }

      .grid {
          grid-auto-rows: 340px;
      }

      .inner {
          max-width: 700px;
          gap: 15px;
      }

  }

  /* md */
  @media screen and (max-width: 768px) {

      .header {
          padding: 10px;
      }

      .title {
          font-size: 24px;
          text-align: center;
      }

      .title_mb {
          min-width: 300px;
      }

      .menu__desktop {
          display: none;
      }

      .menu__mobile {
          display: flex;
          flex-direction: column;
      }

      .menu__inner {
          display: flex;
          justify-content: space-between;
          align-items: start;
      }

      .menu {
          display: none;
          text-align: center;
      }

      .menu li {
          padding: 2px 0;
      }

      .menu a {
          margin: 0;
          font-size: 14px;
          color: var(--text-main);
          text-decoration: none;
      }

      .menu__burger {
          display: block;
          overflow: hidden;
          cursor: pointer;
          margin: 0;
          padding: 0;
          width: 40px;
          height: 40px;
          font-size: 0;
          background-color: var(--bg);
          border-radius: 5px;
          position: relative;
      }

      .menu__burger span {
          display: block;
          position: absolute;
          background-color: #fff;
          height: 3px;
          width: 30px;
          top: 18px;
          left: 5px;
          right: 5px;
          transition: background 0s 0.3s;
      }

      .menu__burger span:after,
      .menu__burger span:before {
          position: absolute;
          display: block;
          height: 3px;
          width: 100%;
          background-color: #fff;
          content: '';
          transition-duration: 0.3s, 0.3s;
          transition-delay: 0.3s, 0s;
      }

      .menu__burger span:after {
          top: -10px;
      }

      .menu__burger span:before {
          bottom: -10px;
      }

      .menu__burger.close span {
          background: none;
      }

      .menu__burger.close span:after {
          top: 0px;
          transform: rotate(45deg);
      }

      .menu__burger.close span:before {
          bottom: 0px;
          transform: rotate(-45deg);
      }

      .menu__mobile .contacts {
          display: none;
      }

      .contacts {
          font-size: 16px;
          gap: 7px;
      }

      .contacts__phone a:hover {
          color: var(--text-accent);
          text-decoration: none;
      }

      .contacts__link:hover {
          color: var(--text-accent);
      }

      .main__slider {
          display: none;
      }

      .feedback {
          padding: 15px 10px;
      }

      .feedback__wrapper {
          padding: 10px 0 20px 0;
      }

      .portfolio__description {
          font-size: 14px;
      }

      .swiper-slider {
          display: flex;
          flex-direction: column;
          gap: 30px;
          margin-bottom: 20px;

      }

      .swiper-slider__btn {
          margin: 0 auto;
      }

      .swiper-slider__btn a {
          padding: 10px 15px;
          font-size: 20px;
          font-weight: 700;
          /* Отступ */
          background-color: rgba(255, 255, 255, 0.2);
          /* Цвет кнопки */
          color: white;
          /* Цвет текста */
          border: 1px solid white;
          /* Ширина, стиль и цвет границы */
          z-index: 1;
          opacity: 0.8;
          transition: opacity .3s ease;
      }

      .swiper-slider__btn a:hover {
          background-color: var(--bg)
      }

      .price {
          padding: 20px 15px;
      }

      .price__wrapper {
          font-size: 20px;
          line-height: 30px;
      }

      .grid {
          grid-auto-rows: 250px;
      }

      .list {
          padding: 10px;
      }

      .inner {
          max-width: 600px;
          gap: 10px;
          margin: 0 auto 10px auto;
      }

      .btn {
          font-size: 16px;
      }

      .info__wrapper {
          font-size: 20px;
          line-height: 30px;
      }

      .info__title {
          padding: 20px 0;
          font-size: 26px;
      }

      .info__row {
          gap: 5px;
          flex-wrap: wrap;
      }

      .info__img_width {
          max-width: 250px;
      }

      .info__img_height {
          max-height: 250px;
      }

      .info__block {
          padding-top: 10px;
      }



  }


  /* sm */
  @media screen and (max-width: 560px) {

      .col-sm-12 {
          width: 100%;
      }

      .title {
          text-align: center;
          font-size: 18px;
      }

      .about {
          padding-top: 15px;
      }

      .about__wrapper {
          gap: 10px;
      }

      .about__title {
          font-size: 18px;
          margin-bottom: 10px;
      }

      .about__subtitle {
          font-size: 18px;
      }


      .about__text {
          font-size: 14px;
          line-height: 24px;
      }

      .about__img {
          max-height: 300px;
      }

      .about__descr {
          font-size: 14px;
          line-height: 24px;
      }

      .divider {
          margin: 10px 0;
      }

      .contacts {
          display: flex;
          flex-direction: column;
          gap: 10px;
      }

      .feedback {
          padding: 20px 10px;
          height: calc(100vh - 75px);
      }

      .feedback__form-title {
          margin: 10px 0;
          font-size: 16px;
      }

      .portfolio__text {
          display: none;
      }

      .grid {
          grid-auto-rows: 150px;
          grid-gap: 2px;
      }

      .inner {
          flex-wrap: wrap;
          max-width: 300px;
          justify-content: center;
          gap: 10px;
          margin: 0 auto 10px auto;

      }

      .list__title {
          font-size: 16px;
          min-width: 300px;
      }

      .btn {
          font-size: 14px;
          padding: 10px 10px;
      }


      .price__wrapper {
          padding: 0;
          font-size: 16px;
          line-height: 28px;
      }

      .price__text {
          margin-top: 5px;
      }

      .price__list {
          margin-top: 5px;
      }

      .price__item {
          position: relative;
          padding-left: 25px;
      }

      .price__item::before {
          position: absolute;
          left: 5px;
          top: 1px;
          content: '\2713';
      }

      .info__wrapper {
          font-size: 16px;
          line-height: 22px;
      }

      .info__title {
          padding: 10px 0;
          font-size: 20px;
      }

      .info__comment {
          font-size: 14px;
          padding: 5px 0;
      }

      .info__text {
          text-indent: 1em;
      }

      .info__row {
          gap: 5px;
          flex-wrap: wrap;
      }

      .info__img_width {
          max-width: 250px;
      }

      .info__img_height {
          max-height: 150px;
      }

      .info__block {
          padding-top: 10px;
      }
  }