  /* Переменные */
  :root {
      --text-dark: #222;
      --text-light: #fff;
      --text-accent: #297d83;
      --text-danger: #f00;
      --text-small: rgb(192, 75, 75);
  }

  /* Общие */
  html {
      box-sizing: border-box;
  }

  *,
  *::after,
  *::before {
      box-sizing: inherit;
  }

  body {
      margin: 0;
      font-family: sans-serif;
      background-color: #e7a895;
  }

  input,
  textarea {
      font-family: sans-serif;
  }

  img,
  svg {
      max-width: 100%;
      max-height: 100%;
      height: auto;
  }

  button {
      padding: 0;
      cursor: pointer;
      background-color: transparent;
      border: none;
  }

  a {
      text-decoration: none;
      color: inherit;
  }

  ul {
      list-style: none;
      padding: 0;
      margin: 0;
  }

  h1,
  h2,
  h3,
  p {
      margin: 0;
  }

  .visually-hidden {
      position: fixed;
      transform: scale(0);
  }

  .title {
      font-size: 32px;
      text-align: center;
      margin-bottom: 15px;
  }

  /* Сетка */
  .container {
      margin: 0 auto;
      max-width: 1200px;
      width: 100%;
  }

  .row {
      padding: 0 15px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
  }

  .col-3 {
      width: 25%;
  }

  .col-4 {
      width: 33.33%;
  }

  .col-6 {
      width: 49%;
  }

  .col-9 {
      width: 75%;
  }

  .col-12 {
      width: 100%;
  }

  .logo img {
      max-width: 140px;
      max-height: 50px;
  }

  .header {
      padding: 15px 0;
  }

  /* Меню */
  .menu__desktop {
      padding: 15px 0;
  }

  .menu__desktop .row>ul>li {
      position: relative;
  }

  .menu__desktop .row>ul a.active:hover+ul,
  .menu__desktop .row>ul ul:hover {
      opacity: 1;
      visibility: visible;
  }

  .menu__desktop .row>ul ul {
      transition: 0.2s;
      opacity: 0;
      visibility: hidden;
      border: 1px solid #eee;
      position: absolute;
      top: 30px;
      width: 280px;
      padding-left: 0;
      list-style: none;
      background-color: #fff;
  }

  .menu__desktop .row>ul ul li {
      padding: 15px;
  }

  .menu__desktop .row>ul>li a {
      color: var(--text-dark);
      text-decoration: none;
      margin-right: 15px;
  }

  .menu__desktop .row>ul>li a:hover {
      color: var(--text-accent);
  }

  .menu__desktop .row>ul>li:last-child a {
      margin-right: 0;
  }

  .menu {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      color: var(--text-dark);
      text-decoration: none;
  }

  .menu__mobile {
      display: none;
  }

  .contacts {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      gap: 20px;
  }

  .contacts__phone a {
      color: var(--text-accent);
      text-decoration: none;
  }

  .contacts__phone a:hover {
      color: var(--text-small);
      text-decoration: underline;
  }

  .contacts__social {
      display: flex;
      align-items: center;
      gap: 7px;
  }

  .contacts__link {
      color: var(--text-accent);
  }

  .contacts__link:hover {
      color: var(--text-small);
  }

  /* шапка */

  /* слайдер */
  .swiper {
      max-width: 900px;
      max-height: 500px;
  }

  .swiper-slide {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      /*       text-align: center;
      font-size: 18px;
      background: #fff;
       */
  }

  /* о себе*/
  .about {
      padding-top: 30px;
  }

  .about__title {
      text-align: center;
      font-size: 36px;
  }

  .about__wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
  }

  .about__text {
      padding: 10px;
      font-size: 20px;
      line-height: 26px;
  }

  .about__img {
      max-height: 600px;
  }

  .twentytwenty {
      padding: 20px 0;
  }

  .twentytwenty__container {
      margin: 0 auto;
      height: 500px;
      max-width: 900px;
  }

  /* обратная связь  */

  .feedback__wrapper {
      padding: 20px 0;
      display: block;
      margin: 0 auto;
      max-width: 600px;
  }

  .feedback__form-title {
      margin: 15px 0;
      font-size: 18px;
  }

  .feedback__form {
      display: flex;
      flex-direction: column;
      gap: 15px;
      width: 100%;
  }

  .feedback__input {
      height: 40px;
      padding: 0 10px;
  }

  .feedback__textarea {
      width: 100%;
      min-height: 80px;
      height: 100%;
      resize: none;
      padding: 10px;
      font-size: 14px;
  }

  .feedback__btn {
      margin: 0 auto;
      padding: 0 10px;
      border: 1px solid var(--text-dark);
      border-radius: 6px;
      height: 40px;
      line-height: 0;
      color: var(--text-accent);
  }

  .feedback__btn:hover {
      translate: 0.3s;
      color: var(--text-small);
      opacity: 0.7;
  }


  /* Адаптивная версия */
  /* lg */
  @media screen and (max-width: 1025px) {
      .container {
          max-width: 900px;
      }

      .col-lg-4 {
          width: 33.33%;
      }

      .col-lg-6 {
          width: 49%;
      }

      .col-lg-12 {
          width: 100%;
      }

      .menu {
          flex-direction: column;
          padding-left: 10px;
      }

      .contacts {
          display: flex;
          flex-direction: column;
          gap: 10px;
      }
  }

  /* md */
  @media screen and (max-width: 825px) {
      .container {
          max-width: 540px;
      }

      .contacts {
          display: flex;
          flex-direction: column;
          gap: 10px;
      }

  }

  /* sm */
  @media screen and (max-width: 520px) {
      .container {
          width: 375px;
          padding: 0 10px;
      }

      .col-sm-12 {
          width: 100%;
      }

      .menu__desktop {
          display: none;
      }

      .menu__mobile {
          display: flex;
          flex-direction: column;
      }

      .menu__inner {
          padding: 10px 0;
          display: flex;
          justify-content: space-between;
          align-items: center;
      }

      .menu {
          display: none;
          text-align: center;
      }

      .menu li {
          padding: 2px 0;
      }

      .menu a {
          margin: 0;
          font-size: 14px;
          color: var(--text-main);
          text-decoration: none;
      }

      .menu__burger {
          display: block;
          overflow: hidden;
          cursor: pointer;
          margin: 0;
          padding: 0;
          width: 40px;
          height: 40px;
          font-size: 0;
          background-color: rgb(229, 145, 145);
          border-radius: 5px;
          position: relative;
      }

      .menu__burger span {
          display: block;
          position: absolute;
          background-color: #fff;
          height: 3px;
          width: 30px;
          top: 18px;
          left: 5px;
          right: 5px;
          transition: background 0s 0.3s;
      }

      .menu__burger span:after,
      .menu__burger span:before {
          position: absolute;
          display: block;
          height: 3px;
          width: 100%;
          background-color: #fff;
          content: '';
          transition-duration: 0.3s, 0.3s;
          transition-delay: 0.3s, 0s;
      }

      .menu__burger span:after {
          top: -10px;
      }

      .menu__burger span:before {
          bottom: -10px;
      }

      .menu__burger.close span {
          background: none;
      }

      .menu__burger.close span:after {
          top: 0px;
          transform: rotate(45deg);
      }

      .menu__burger.close span:before {
          bottom: 0px;
          transform: rotate(-45deg);
      }

      .title {
          font-size: 18px;
          text-align: center;
          margin-bottom: 10px;
      }

      .about {
          padding-top: 15px;
      }

      .about__wrapper {
          gap: 10px;
      }

      .about__title {
          font-size: 18px;
      }

      .about__text {
          font-size: 14px;
          line-height: 24px;
      }

      .about__img {
          max-height: 300px;
      }

      .twentytwenty__title {
          margin-bottom: 10px;
          font-size: 18px;
      }

      .contacts {
          display: flex;
          flex-direction: column;
          gap: 10px;
      }

  }